@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: "SuperLegendBoy";
      src: url(./assets/fonts/SuperLegendBoy-4w8Y.ttf);
    }
  }
  
  @font-face {
    font-family: "twisted";
    src: url(./assets/fonts/Twisttwist.ttf);
  }

.container {
    @apply mx-auto max-w-[1200px] px-2;
  }  


.text-gradient-bg{
  background: -webkit-linear-gradient(180deg, #caf00cf1,#d7ddbd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* bg-gradient-to-r from-[#005998] to-[#683200]  */